.register-page-wrap {

        height: 85vh;
        
  }
  
  .submit {
  
          position: absolute;
          right: 25px;
          bottom: 25px;
          
  }
  
  
  .errormsg {
  
          margin-left: 131px;
          margin-bottom:10px !important ;
          margin-top: -17px;
  }
  .red {
  
          outline: none;
          border: 1px solid red;
           
   }
   .input-group-texts {
  
           margin-right: 21px;
           margin-top: 12px;
   }
  
   .tab-wizard2.wizard-circle.wizard h2{font-size: 24px; font-weight: 700; }
   .tab-wizard2.wizard-circle.wizard{padding: 15px 0;}
  
  